.counter-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
}
.btn-container{
  display: flex;
}
.counters-counter{
  display: flex;
  justify-content: center;
  align-items: center;
}